<?xml version="1.0"?>
<config>
    <modules>
       <ECGiken_FreeShippingBy>
          <version>0.1.0</version>
       </ECGiken_FreeShippingBy>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ecgiken_freeshippingby>
                    <file>ecgiken/freeshippingby.xml</file>
                </ecgiken_freeshippingby>
            </updates>
        </layout>
        <translate>
            <modules>
                <ECGiken_FreeShippingBy>
                    <files>
                        <default>ECGiken_FreeShippingBy.csv</default>
                    </files>
                </ECGiken_FreeShippingBy>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <ecgiken_freeshippingby>
                <class>ECGiken_FreeShippingBy_Block</class>
            </ecgiken_freeshippingby>
        </blocks>
    </global>
</config>
